@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.success {
  color: #4caf50;
  font-weight: 500;
}

.error {
  color: #f44336;
  font-weight: 500;
}

.count {
  font-weight: bold;
  color: #1976d2;
}